<app-header />

<main>
  <ul id="users">
    <li>
      <app-user
        [name]="users[0].name"
        [avator]="users[0].avatar"
        [id]="users[0].id"
        (select)="onSelectItem($event)"
      />
    </li>
    <li>
      <app-user
        [name]="users[1].name"
        [avator]="users[1].avatar"
        [id]="users[1].id"
        (select)="onSelectItem($event)"
      />
    </li>
    <li>
      <app-user
        [name]="users[2].name"
        [avator]="users[2].avatar"
        [id]="users[2].id"
        (select)="onSelectItem($event)"
      />
    </li>
    <li>
      <app-user
        [name]="users[3].name"
        [avator]="users[3].avatar"
        [id]="users[3].id"
        (select)="onSelectItem($event)"
      />
    </li>
  </ul>
</main>
