<app-header />

<main>
  <ul id="users">
    @for (user of users; track $index) {
    <li>
      <app-user [user]="user" (select)="onSelectItem($event)" />
    </li>
    <!--             [name]="user.name"
            [avator]="user.avatar"
            [id]="user.id" -->
    } @empty {
      <li>
        No Users available
      </li>
    }
  </ul>

  @if (selectedUser) {
  <app-task [name]="selectedUser.name" />
  } @else {
    <p id="fallback">
      Select a user to see their task
    </p>
  }
</main>